@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Satisfy&display=swap');
html, body {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
  background: url(../img/bokeh.jpg) no-repeat center fixed;
  background-size: cover;
}

h1 {
  letter-spacing: 0.2em;
  font-size: 2.8rem;
}

/*****Sticky button*****/

.sticky_btn img {
  position: fixed;
  display: block;
  z-index: 20;
  margin-right: 0;
  margin-left: 95%;
  margin-bottom: 0;
  margin-top: 35%;
}

.container-fluid {
  padding: 0 3%;
}

.nav-item {
  padding: 0 15px;
}

.nav-link {
  font-size: 1.2rem;
  color: #7BA28F !important;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 3px;
}

.nav-link.active, .nav-link:hover {
  border-radius: 3px;
  transition: .2s;
  /* box-shadow: 2px 2px 10px #7BA28F; */
  color: #D4AF37 !important;
}

/*This is the banner section*/

.banner {
  height: 750px;
  background: url(../img/banner1.jpg) no-repeat center;
  background-size: cover;
}

.banner_container {
  position: relative;
  width: 80%;
  text-align: center;
  top: 20%;
  text-transform: uppercase;
  overflow: hidden;
  color: white;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-shadow: 2px 2px 10px #666;
  border: 3px solid white;
  background: rgba(212, 185, 135, .3);
  box-shadow: 2px 2px 10px #444;
}

.banner_container h1 {
  text-shadow: 2px 2px 10px #666;
}

.banner_container p {
  font-size: 1.2rem;
}

/*Banner section ends*/

/*****self information section starts*******/

.self_info {
  text-align: center;
  padding: 50px 0;
}

.self_info_header img {
  width: 200px;
  padding: 20px 0;
}

.person1, .person2 {
  font-family: 'Cabin';
}

fieldset {
  margin: 10px 20px;
  padding: 15px;
  border-radius: 15px;
  background: rgba(255, 255, 255, .4);
}

.self_info legend {
  font-size: 30px;
  letter-spacing: 0.1em;
  color: #D4AF37;
  font-family: "PT Serif";
  text-align: center;
}

.person1 img, .person2 img {
  border-radius: 100%;
}

/*****self information section ends*****/

/*****Day counter section starts*****/

.day_counter {
  margin: 50px 0;
  background: url(../img/bokeh.jpg) no-repeat center fixed;
  background-size: cover;
}

.day_counter h1 {
  text-align: center;
  font-family: 'PT Serif', serif;
  text-transform: uppercase;
  color: #D4AF37;
  letter-spacing: 0.1em;
}

.day_counter .counter_days {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 25px;
  color: #638E7D;
}

.day_counter .counter_person {
  text-align: center;
}

.day_counter .counter_person .person img {
  margin-left: 7px;
  margin-right: 7px;
  border-radius: 50%;
  box-shadow: 2px 2px 10px #7BA28F;
}

.day_counter .counter_seconds {
  text-align: center;
  font-size: 20px;
  margin-top: 40px;
  padding-bottom: 40px;
  color: #638E7D;
}

@media(max-width: 700px) {
  .day_counter .counter_person {
    text-align: center;
  }
  .day_counter .counter_person img {
    width: 100px;
    margin-left: 7px;
    margin-right: 7px;
  }
  .day_counter .counter_person .person img {
    border-radius: 50%;
    box-shadow: 2px 2px 10px #7BA28F;
  }
}

/*
@media(min-width: 5px) and (max-width:700px){

  .day_counter .counter_person{
    margin-left: 25%;
    margin-right: 25%;
  }

  .day_counter .counter_person .person img{
    border-radius: 50%;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media(min-width: 701px) and (max-width: 900px){

  .day_counter .counter_person{
    margin-left: 25%;
    margin-right: 25%;
  }

  .day_counter .counter_person .person img{
    border-radius: 50%;
    margin-left: 30px;
    margin-right: 30px;
  }
}

*/

@media(min-width: 1200px) {
  .day_counter .counter_person {
    text-align: center;
  }
  .day_counter .counter_person .person img {
    border-radius: 50%;
    margin-left: 7px;
    margin-right: 7px;
  }
}

/*****Day counter section ends*****/

/*****Timeline section starts*****/

.timeline {
  margin-top: -45px;
  background: url(../img/bokeh.jpg) no-repeat center fixed;
  background-size: cover;
}

.timeline h1 {
  text-align: center;
  padding-top: 50px;
  margin-bottom: 40px;
  font-family: 'PT Serif', serif;
  text-transform: uppercase;
  color: #D4AF37;
  letter-spacing: 0.1em;
}

.timeline .post-wrapper {
  text-align: center;
}

.timeline .post1, .timeline .post2, .timeline .post3 {
  margin-bottom: 50px;
  padding: 20px 0;
  text-align: center;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  background-color: rgba(255, 255, 255, .3);
  border: 1px solid #ccc;
  font-family: 'Cabin';
}

.post1 span, .post2 span, .post3 span {
  display: block;
  padding: 5px 10px;
}

.image img {
  width: 90%;
}

@media (min-width: 350px) and (max-width: 576px) {
  .post1, .post2, .post3 {
    width: 90%;
    margin-left: 5%;
  }
  .timeline h1 {
    font-size: 25px;
    font-weight: bolder;
  }
  @media (min-width: 1150px) {
    .timeline h1 {
      font-size: 40px;
    }
  }
  .timeline .post1, .timeline .post2, .timeline .post3 {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .post1, .post2, .post3 {
    width: 80%;
    margin-left: 10%;
  }
}

.newpost {
  text-align: center;
  margin: 20px 0;
  width: 80%;
  margin-left: 10%;
  background: url(../img/heart_border.png) no-repeat center;
  background-size: contain;
  background-color: white;
}

.newpost h2 {
  text-align: center;
  padding-top: 50px;
  margin-bottom: 40px;
  font-family: 'PT Serif', serif;
  text-transform: uppercase;
  color: #D4AF37;
  letter-spacing: 0.1em;
  font-size: 27px;
  text-shadow: 10px 10px 10px #fff;
}

.newpost span {
  display: block;
  padding-bottom: 10px;
}

.newpost .title input[type=text] {
  width: 85%;
  height: 50px;
  padding-left: 10px;
  font-size: 20px;
  background-color: rgba(250, 250, 250, .5);
  border: 1px solid #ccc;
}

.newpost .detail textarea {
  width: 84%;
  height: 200px;
  background-color: rgba(250, 250, 250, .5);
  padding: 10px;
  font-size: 16px;
  font-family: sans-serif;
  border: 1px solid #ccc;
}

.newpost .photo label {
  display: inline-block;
  background-color: #31896c;
  color: white;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid #31896c;
}

.newpost .photo label:hover {
  background-color: #cca32a;
  color: white;
  border: 2px solid white;
  transition: .3s;
}

.newpost .submit input[type="submit"] {
  display: inline-block;
  background-color: #31896c;
  color: white;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  width: 80px;
  font-size: 16px;
}

.newpost .submit input[type="submit"]:hover {
  background-color: #cca32a;
  transition: .3s;
}

/*****Timeline section ends*****/

/*****Gallery Section starts*****/

.gallery {
  margin-top: 0px;
  background: url(../img/bokeh.jpg) no-repeat center fixed;
  background-size: cover;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background-color: #eee;
  display: flex;
  padding-top: 50px;
  position: absolute;
  display: block;
  margin-bottom: 600px;
}

@media(min-width: 320px) and (max-width: 600px) {
  .gallery {
    margin-bottom: 100%;
  }
}

.gallery_h1 {
  text-align: center;
  padding: 20px 0;
  font-family: 'PT Serif', serif;
  text-transform: uppercase;
  color: #D4AF37;
  letter-spacing: 0.1em;
}

@media (min-width: 350px) and (max-width: 576px) {
  .gallery_h1 {
    font-size: 21px;
  }
}

@media (min-width: 1150px) {
  .gallery_h1 {
    font-size: 40px;
  }
}

/* .gallery .container{
  width: 100%;
  max-width: 120rem;
  margin: auto;
  padding: 0 1.5rem;
} */

.image-gallery {
  display: grid;
  grid-template-columns: lfr lfr lfr lfr;
  grid-template-rows: auto;
  grid-gap: 1.5rem;
  grid-template-areas: 'img-1 img-2 img-3 img-3' 'img-1 img-4 img-5 img-6' 'img-7 img-7 img-8 img-6';
}

.image-gallery a {
  width: 100%;
  height: 25rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.image-gallery a i {
  color: rgba(255, 255, 255, .6);
  font-size: 3rem;
  position: relative;
  z-index: 100;
  padding: 1rem 3rem;
  border: 2px solid rgba(255, 255, 255, .6);
  border-radius: 0.4rem;
  opacity: 0;
  transition: opacity .5s;
}

.image-gallery a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .8);
  opacity: 0;
  transition: opacity .5s;
}

.image-gallery a:hover i, .image-gallery a:hover::before {
  opacity: 1;
}

.img-1 {
  grid-area: img-1;
  min-height: 51.5rem;
  background-image: url("https://bn02pap001files.storage.live.com/y4mMqjqGG244sqR8hfSowx5vCEMJrEskThgW6QgAnrf7O8TmWbObUxCMmkGCc3iU4clxqVaOdvuq52lvIJjA9-0XVXJXAitEY3G7SOz2DHJ9XZMizguCfRc6i1CDQp9lXtVV2qVl6HZqxGzxt7uPoBF3Oa1_EoXupAqbwNYa9om21zxYi4dentYf5ARpFPupeED?width=1141&height=2048&cropmode=none");
}

.img-2 {
  grid-area: img-2;
  background-image: url("https://bn02pap001files.storage.live.com/y4mYSYnBYogbIDWTldnTAUAszcI1VuWF94les8YJanLKgnonjDBvobcfkyw2uTi4ujjgxfxqaw3kb9Wpi2n332JUk-rHvCo4yQSqiXhNOKTPHGBGUllttCNKALpyxlN5uNWv8JPjtzKl5eDcLK4bEs8_ifs8q98aO4eLpKszUeHSQuNpsDazRtIeDWOm4FKfGh0?width=1280&height=660&cropmode=none");
}

.img-3 {
  grid-area: img-3;
  background-image: url("https://bn02pap001files.storage.live.com/y4mqgmmckrxS3RY00XlpahbnO5twIAZ6YYADnk6yWe4dybkyboEWlmnrPVO8w-jo1v-spw8ZUzXISimSkyRjY2FzTxoxnczCdPvjcTmFkxKguVmbMDT6cRtWuSxByLwOA6BVmsV_nMYUN74flqzI4O58VzKZEUzp-cK4W5JG0FXVbA38qyRA-ZXGMCaodHCynHU?width=4032&height=3024&cropmode=none");
}

.img-4 {
  grid-area: img-4;
  background-image: url("https://bn02pap001files.storage.live.com/y4mHYcRJeOt1s80B7mrJL8P-s8DVFpF4I50vAGLmc_0iVmHfSbwVgjlHdIjT0Z47hsB377KxL0_mw9m6IUuV1b1bq5f8hmaQD3e8FLp1kSU2dQavNVmMNKVdcAdrE46aU1nroXhecW0scmUakZTXYRc8uYItctLypzHQ_Jh5_Qt8AfRc7MTrxveesF6kp2GttAN?width=4032&height=3024&cropmode=none");
}

.img-5 {
  grid-area: img-5;
  background-image: url("https://bn02pap001files.storage.live.com/y4mmXLeq6Su6n-oFT5pBMYqNidbgQDZoIKoBMoZBuzfVm7BFy3GBepNBS6iq5g6FjB6A-LE-5RDkjCLgXweSv76l-zJIHEME-cIZ34tc4-Xr8HkGOsODc6PEdmgqlMrPsHjQob1Ut7HtL5ScPdN7Mn8IMqCfhaU0Ba8iOJidjVNE1U5vmqEpAMsxVABp4zTTwL5?width=1536&height=2048&cropmode=none");
}

.img-6 {
  grid-area: img-6;
  min-height: 51.5rem;
  background-image: url("https://bn02pap001files.storage.live.com/y4mNhiibDKs2kwmS65Yn17wSBwFsS4Q9QgW0R4XYMLjhXLjJ_PRF6tvQyjWQMouIqOU_k9ImBpiOHl1yARVhG-aw9Y8vr1WC-ehQyiFo_Q-TQ40-DoAeu0L-1VzX9knvqrMQZ4lkrfS_1svjeuunatkOE49TtR5VtcIGGlRtszBiNTSyAuVEx-C78Xe5TbpBIZ9?width=3024&height=4032&cropmode=none");
}

.img-7 {
  grid-area: img-7;
  background-image: url("https://bn02pap001files.storage.live.com/y4mhzxI9Qs6D-l14vCQtntv_VC6zoug9ASfTg43tjQD_spxqS2EAW7GT_7O-L6rZoZB0XKLV7Dq2qSkqgXp6FwVGTj9dDLpZALn4o1M9eS9zwx1wwDe40qbcUjpCCYAtFVAum9neaughmibkEaAAGTaVlItQRUqSlz2v-YenulD4XD21HSPPCc8x5eOSm2o8qYT?width=2643&height=1982&cropmode=none");
}

.img-8 {
  grid-area: img-8;
  background-image: url("https://bn02pap001files.storage.live.com/y4mYk3rypj90Y1rO7pOzsEaSIv0eOOHqK8duzVglHhz1ZIbTpB9xqrtoGz6r0fZleMWtRxwjISaD7IxKQRqxpPOwUjfb7CzvntQvYaGk2ScajO8DD4zQYxRjcHnr0D5hsr-iRnVW5YevsEjIhpu_J1s-3pNkAPtg6msf4sAAMqiir9lU6fBr49sZ_gIHWDzZp58?width=2016&height=1512&cropmode=none");
}

@media screen and (max-width: 900px) {
  .image-gallery {
    grid-template-areas: 'img-1 img-1 img-2 img-2' 'img-1 img-1 img-3 img-3' 'img-4 img-4 img-5 img-5' 'img-6 img-7 img-7 img-7' 'img-8 img-8 img-8 img-8';
  }
  .image-gallery a {
    height: 20rem;
  }
  .img-1 {
    min-height: 41.5rem;
  }
  .img-6 {
    min-height: 20rem;
  }
}

@media screen and (max-width: 600px) {
  .image-gallery {
    grid-template-areas: 'img-1 img-1 img-1 img-1' 'img-2 img-2 img-2 img-2' 'img-3 img-3 img-3 img-3' 'img-4 img-4 img-4 img-4' 'img-5 img-5 img-5 img-5' 'img-6 img-6 img-6 img-6' 'img-7 img-7 img-7 img-7' 'img-8 img-8 img-8 img-8';
  }
  .image-gallery a, .img-1, .img-6 {
    height: 30rem;
    min-height: 30rem;
  }
}

*/
/*****Gallery section ends*****/

/*****Open When Envelopes Starts*****/

.open_when .open_when_header {
  text-align: center;
  font-family: 'PT Serif', serif;
  text-transform: uppercase;
  color: #D4AF37;
  letter-spacing: 0.1em;
  padding-bottom: 50px;
}

@media(min-width: 320px) and (max-width: 650px) {
  .open_when .open_when_header {
    font-size: 22px;
  }
}

.container .box {
  text-align: center;
  float: left;
  width: 30%;
  margin: 90px 1.667%;
  /*background-color: blue;*/
}

/*
.container .row1{
  margin-top: 800px;
} */

.container .mail_wrapper {
  display: inline-block;
}

@media (min-width: 320px) and (max-width: 576px) {
  .container .box {
    width: 80%;
    margin: 100px 10%;
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .container .box {
    width: 40%;
    margin: 100px 5%;
  }
}

/*
@media (min-width: 768px) and (max-width: 992px){
  .container .box{
    width: 40%;
    margin: 100px 5%;
  }
}
*/

.mail {
  width: 300px;
  height: 200px;
  background: #cc8e84;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  transform-style: preserve-3d;
  cursor: pointer;
}

.mail-row2 {
  width: 300px;
  height: 200px;
  background: #957DAD;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  transform-style: preserve-3d;
  cursor: pointer;
}

.mail-row3 {
  width: 300px;
  height: 200px;
  background: #609196;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  transform-style: preserve-3d;
  cursor: pointer;
}

.mail::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid #EAAEA4;
  border-top: 100px solid transparent;
  border-bottom: 100px solid #EAAEA4;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 5;
}

.mail-row2::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid #E0BBE4;
  border-top: 100px solid transparent;
  border-bottom: 100px solid #E0BBE4;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 5;
}

.mail-row3::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid #B3D9EC;
  border-top: 100px solid transparent;
  border-bottom: 100px solid #B3D9EC;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 5;
}

.mail:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-left: 150px solid #EAAEA4;
  border-right: 150px solid transparent;
  border-top: 100px solid transparent;
  border-bottom: 100px solid #EAAEA4;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 4;
}

.mail-row2:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-left: 150px solid #E0BBE4;
  border-right: 150px solid transparent;
  border-top: 100px solid transparent;
  border-bottom: 100px solid #E0BBE4;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 4;
}

.mail-row3:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-left: 150px solid #B3D9EC;
  border-right: 150px solid transparent;
  border-top: 100px solid transparent;
  border-bottom: 100px solid #B3D9EC;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 4;
}

.cover:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-top: 100px solid #cc8e84;
  border-bottom: 100px solid transparent;
  z-index: 6;
  transform-origin: top;
  transform: rotateX(0deg);
  transition: all .5s .5s ease;
}

.cover-row2:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-top: 100px solid #957DAD;
  border-bottom: 100px solid transparent;
  z-index: 6;
  transform-origin: top;
  transform: rotateX(0deg);
  transition: all .5s .5s ease;
}

.cover-row3:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-top: 100px solid #609196;
  border-bottom: 100px solid transparent;
  z-index: 6;
  transform-origin: top;
  transform: rotateX(0deg);
  transition: all .5s .5s ease;
}

.letter {
  position: absolute;
  z-index: 3;
  top: 0px;
  left: 10px;
  background: #fff;
  width: 280px;
  height: 180px;
  border-radius: 20px;
  transition: all .5s ease;
}

.letter h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #798992;
  font-weight: 900;
}

.mail:hover .cover:before, .mail-row2:hover .cover-row2:before, .mail-row3:hover .cover-row3:before {
  transform: rotateX(180deg);
  transition: all .5s ease;
  z-index: 3;
}

.mail:hover .letter, .mail-row2:hover .letter, .mail-row3:hover .letter {
  top: -80px;
  transition: all .5s .5s ease;
  z-index: 4;
}

.box .message-header {
  margin: 20px 0 20px 0;
  font-size: 21px;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 0.3px;
}

/*
.box .btn_read{
  margin-bottom: 15px;
}

.box .btn_read button{
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 14px;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 0.1px;
  cursor: pointer;
}
*/

.popup {
  display: none;
  position: fixed;
  padding: 10px;
  width: 500px;
  height: 550px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #FFF;
  z-index: 20;
  text-align: center;
  border-radius: 10px;
}

@media (min-width: 320px) and (max-width: 576px) {
  .popup {
    width: 80%;
    height: auto;
    position: absolute;
    padding: 30px 20px;
    margin-top: -20%;
  }
}

@media (min-width: 576px) and (max-width: 800px) {
  .popup {
    width: 500px;
    height: auto;
    position: absolute;
    margin-top: -10%;
  }
}

#popup1 {
  -webkit-box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
}

/* From here on, just aesthetics */

a.open, a.open:visited {
  text-decoration: none;
  color: #1abc9c;
  font-weight: bold;
  display: inline-block;
  margin: 10px 20px;
  padding: 20px;
  border: 2px solid #1abc9c;
  border-radius: 10px;
  text-transform: uppercase;
}

a.open:hover, a:hover a.open:active, a:active {
  background-color: #fff;
  color: #1abc9c;
}

.popup a, .popup a:visited {
  color: #1abc9c;
}

.popup img, .popup p {
  margin: 1em 0;
  text-align: justify;
}

/*Songs and Quotes Section Starts*/

.songs_container .songs_header {
  text-align: center;
  font-family: 'PT Serif', serif;
  text-transform: uppercase;
  color: #D4AF37;
  letter-spacing: 0.1em;
  padding-bottom: 50px;
}

@media(min-width: 320px) and (max-width: 650px) {
  .songs_container .songs_header {
    font-size: 22px;
  }
}

/*
.songs_container{
  margin-top: 57%;
} */

@media(min-width: 300px) and (max-width: 354px) {
  .songs_container {
    margin-top: 15px;
  }
}

@media(min-width: 354px) and (max-width: 382px) {
  .songs_container {
    margin-top: 15px;
  }
}

.songs_container .song {
  width: 30%;
  margin: 20px 1.667%;
  float: left;
  text-align: center;
}

.songs_container .song audio {
  width: 250px;
  outline: none;
}

@media (max-width: 576px) {
  .songs_container .song {
    width: 80%;
    margin: 20px 10%;
  }
}

@media (max-width: 768px) {
  .songs_container .song {
    width: 80%;
    margin: 20px 10%;
  }
}

@media (max-width: 992px) {
  .songs_container .song {
    width: 70%;
    margin: 20px 15%;
  }
}

/*quotes section starts*/

.quotes_container {
  width: 96.666%;
  height: auto;
  margin: 20px 1.667% 0 1.667%;
  text-align: center;
}

.quotes_container .quotes_box {
  display: inline-block;
  background-color: white;
  width: 40%;
  margin: 20px 20%;
  padding: 20px;
  box-shadow: 2px 2px 10px #757575;
  background: url(../img/cloud.jpg) no-repeat center;
  background-size: cover;
  font-family: 'Cabin', sans-serif;
}

.quotes_container .quotes_box p {
  text-align: justify;
}

@media (max-width: 576px) {
  .quotes_container {
    width: 100%;
    height: auto;
    margin: 0;
    text-align: center;
  }
  .quotes_container .quotes_box {
    margin: 20px 0;
    width: 80%;
    box-sizing: border-box;
  }
}

/*****Songs and Quotes Section Ends*****/

/*****footer starts*****/

.footer {
  position: absolute;
  display: block;
}

.footer .loveyou img {
  width: 60%;
  margin-left: 20%;
  height: auto;
}

.final {
  width: 100%;
  position: absolute;
  background-color: transparent;
  font-weight: bold;
  letter-spacing: 0.3px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.final .name {
  font-family: 'Parisienne', cursive;
  font-size: 20px;
}