html,body{
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
    background: url(../img/bokeh1.jpg) no-repeat center;
    background-size: cover;
}

.timeline{
  text-align:center;
}

.timeline h1{
  text-align: center;
  text-transform: uppercase;
}


.timeline .posts_wrapper{
  margin-left: 10%;
  margin-right: 10%
}

.timeline .post{
  width: 500px;
  height: 300px;
  background-color: black;
  float: left;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

@media(max-width: 576px)
{
  .timeline .post{
    width: 250px;
    height: 350px;
  }
}
