<div class="container-fluid day_counter">
    <h1>We've been together for</h1>

    <div class="counter_days">
      <p class="days">
      </p>
    </div>

    <div class="row">
      <div class="col counter_person">
        <span class="counter-span person">
          <img src='/img/coco.jpg' />
        </span>
        <span class="counter-span">
          <i class="fas fa-heart"></i>
        </span>
        <span class="counter-span person">
          <img src='/img/baby1.jpg' />
        </span>
      </div>
    </div>


    <div class="counter_seconds">
      <p class="second">
      </p>
    </div>
  </div>