<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YOU'RE THE ONE</title>
    <link rel="shortcut icon" href="/img/love.png" type="image/x-icon" />

    <!-- JS -->
    <script
      type="text/javascript"
      src="http://code.jquery.com/jquery-1.7.1.min.js"
    ></script>


    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap"
      rel="stylesheet"
    />

    <!-- FontAwesome -->
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />

    <!-- Bootstrap and Custom CSS-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid container-navbar">
      <a class="navbar-brand" href="#"><img src="/img/m&k_logo.png" alt="" width="130"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#m&k">m&k</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#open_when">open when</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#gallery">gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#for_u">for u</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="sticky_btn">
   <a href="#top">
     <i class="fab arrow-circle-up"></i>
   </a>
 </div>
