<div class="container self_info" id="m&k">
  <div class="row">
    <div class="col-lg-6 col-12 person1">
      <div class="photo1">
        <img src="/img/coco.jpg" width="100px" />
      </div>

      <div class="info info1">
        <fieldset>
          <legend>
            <span class="person_header">
              M for MTK
              <img src="/img/man.png" />
            </span>
          </legend>
          <p>
            Howdy! I'm Min Thu Kyaw, a tech guy! Khant Su says that I'm pretty
            good at technology field. Also, she says "Not just the word "pretty
            good" is enough, You're perfect Darling"...
            <br /><br />
            <span class="mtk_facts">
              Khant Su calls me: Coco, Darling, Unicorn, Khant Su's hero
            </span>
            <br /><br />
            <span class="mtk_facts">
              <label>Loves for Khant Su: </label>
              <i class="fas fa-heart"></i>
              <i class="fas fa-heart"></i>
              <i class="fas fa-heart"></i>
              <i class="fas fa-heart"></i>
              <i class="fas fa-heart"></i>
              <i class="fas fa-ellipsis-h"></i>
              <img src="/img/infinite.png" />
            </span>
            <br /><br />
            <span>
              Characteristics: Cute Smile, Plump lips, Every movements can melt
              KhantSu's heart
              <i class="fas fa-heart"></i>
            </span>
          </p>
        </fieldset>
      </div>
    </div>

    <div class="col-lg-6 col-12 person2">
      <div class="photo2">
        <img src="img/baby1.jpg" width="100px" />
      </div>

      <div class="info info2">
        <fieldset>
          <legend>
            K for KSYW
            <img src="/img/woman.png" />
          </legend>
          <p>
            Hey! My name is Khant Su Yin Win, a dream chaser. You can also call
            me Kyle. Fashion, Coding and Coco are kinda drug for me!
            <br /><br />
            <span> Coco MTK calls me: Baby, Chit Sone, Baby Unicorn </span>
            <br /><br />
            <span>
              <label>Loves for Coco MTK: </label>
              <i class="fas fa-heart"></i>
              <i class="fas fa-heart"></i>
              <i class="fas fa-heart"></i>
              <i class="fas fa-heart"></i>
              <i class="fas fa-heart"></i>
              <i class="fas fa-ellipsis-h"></i>
              <img src="/img/infinite.png" />
            </span>
            <br /><br />
            <span>
              Characteristics: Sweet Smile, Ability to Melt Coco MTK's heart
              <i class="fas fa-heart"></i>
            </span>
          </p>
        </fieldset>
      </div>
    </div>
  </div>
</div>
